<p id="notice"><%= notice %></p>

<div class="col-md-3">
	<%= image_tag @restaurant.avatar.url, class: "img-set" %>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="well">
			<p>
			  <strong>Name:</strong>
			  <%= @restaurant.name %>
			</p>

			<p>
			  <strong>Address:</strong>
			  <%= @restaurant.address %>
			</p>

			<p>
			  <strong>Phone:</strong>
			  <%= @restaurant.phone %>
			</p>

			<p>
			  <strong>Website:</strong>
			  <%= @restaurant.website %>
			</p>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-primary button-padding" %>
<%= link_to 'Back', restaurants_path, class: "btn btn-info button-padding" %>
